<div class="container">
  <!-- <app-back-button></app-back-button> -->
  <div class="navbar nav-8bit">
    <a routerLink="/home">Home</a>
  </div>
</div>

<div class="container-fluid d-flex justify-content-center">
  <div class="contact-container">
    <div class="me-image">
      <img src="../../assets/images/pixil-gif-drawing.gif" alt="" />
    </div>
    <p>Lorem ipsum dolor sit amet consectetur. Amet sed tellus</p>
    <div class="socials d-flex justify-content-center align-items-center gap-3">
      <img
        src="../../assets/images/facebook_pixel_logo_icon_181920.png"
        alt=""
        class="fb"
      />
      <img src="../../assets/images/email-pixel.png" alt="" class="email" />
      <img src="../../assets/images/git-pixel.png" alt="" class="git" />
    </div>
    <form action="">
      <input type="text" placeholder="Your Name" />
      <input type="email" placeholder="Email" />
      <textarea
        name=""
        id=""
        placeholder="Message...
      "
      ></textarea>
      <button class="main-button">Send!</button>
    </form>
    <span>Not satisfied?</span>
    <span><a routerLink="/projects">View Projects</a></span>
  </div>
</div>
