<div class="container-fluid">
  <app-back-button></app-back-button>

  <div class="container-fluid">
    <div class="project-details-container">
      <div class="row flex-column-reverse flex-lg-row">
        <div class="skills-required-container col-lg-6">
          <div class="d-block custom-border mb-4">
            <div class="title mb-4">
              <div class="pixel-box"></div>
              <span>SKILLS REQUIRED</span>
            </div>
            <ul #skillsList>
              <li *ngFor="let skill of skills">
                <div class="item-skill">
                  <div class="item-image">
                    <img
                      [src]="
                        '../../assets/images/skills/' + skill.imageUrl + '.png'
                      "
                    />
                    <!-- <img
                      src="../../assets/images/skills/angular_logo_pixel.png"
                      alt=""
                    /> -->
                  </div>
                  <div class="item-name">
                    <span>{{ skill.skill }}</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="objectives-container custom-border">
            <div class="title">
              <div class="pixel-box"></div>
              <span>OBJECTIVES</span>
            </div>
            <div class="objectives-description">
              <p>
                {{ projectDetails?.detailedInformation }}
              </p>
            </div>
            <div class="info-buttons d-flex gap-3">
              <button class="main-button"><a href="">Live Demo!</a></button>
              <button class="second-button"><a href="">View Code</a></button>
            </div>
          </div>
        </div>

        <div class="selected-project-container col-lg-6">
          <div class="selected-project-image-big">
            <img src="" alt="" />
          </div>
          <div class="project-selected-title mt-4">
            <h2>{{ projectDetails?.title }}</h2>
          </div>
          <div class="selected-project-details mt-5">
            <div class="label">
              <span>DIFFICULTY</span>
              <span>QUEST TIME</span>
              <span>TYPE</span>
            </div>
            <div class="mid">
              <span>:</span>
              <span>:</span>
              <span>:</span>
            </div>
            <div class="val">
              <span>{{ difficulty }}</span>
              <span>120 HRS</span>
              <span>BACKEND</span>
            </div>
          </div>
          <button class="second-button">
            <a routerLink="/contact-form">Contact Me!</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
