<!-- <div class="container-fluid position-absolute">
  <div class="navbar nav-8bit">
    <h5>1UP 2000</h5>
    <div
      class="contact-details d-flex justify-content-center align-items-center gap-3"
    >
      <h5>CONTACT</h5>
      <div
        class="socials d-flex justify-content-center align-items-center gap-3"
      >
        <img
          src="../../assets/images/facebook_pixel_logo_icon_181920.png"
          alt=""
          class="fb"
        />
        <img src="../../assets/images/email-pixel.png" alt="" />
        <img src="../../assets/images/git-pixel.png" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div
    class="hero-section d-flex flex-column justify-content-center align-items-center gap-4"
  >
    <div class="hero-headings d-flex flex-column align-items-end">
      <h1>Hi! I'am</h1>
      <h2 class="display-1 main-heading">GIAN</h2>
      <p>a Front End Developer</p>
    </div>
    <div class="menus d-flex flex-column align-items-center gap-3">
      <div class="start-button d-flex align-items-center active">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
        <p>Start</p>
      </div>

      <div class="load-button d-flex align-items-center">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
        <p>Load</p>
      </div>
    </div>

    <div class="trademark-name d-flex flex-column align-items-center">
      <p>Licensed By</p>
      <p>&#64; YNS CORP. 1996</p>
    </div>
  </div>
</div> -->

<div class="container-fluid position-absolute">
  <div class="navbar nav-8bit-hero">
    <h3>1UP <span class="score">2000</span></h3>
    <div
      class="contact-details d-flex justify-content-center align-items-center gap-3"
    >
      <!-- <h3>CONTACT</h3> -->
      <div
        class="socials d-flex justify-content-center align-items-center gap-3"
      >
        <img
          src="../../assets/images/facebook_pixel_logo_icon_181920.png"
          alt=""
          class="fb"
        />
        <img src="../../assets/images/email-pixel.png" alt="" class="email" />
        <img src="../../assets/images/git-pixel.png" alt="" class="git" />
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div
    class="hero-section d-flex flex-column justify-content-center align-items-center gap-4"
  >
    <div class="hero-headings d-flex flex-column align-items-end">
      <div class="hero-subheading"><span>Hi! I'am</span></div>
      <h2 class="display-1 main-heading slide-top">GIAN</h2>
      <p>a Front End Developer</p>
    </div>
    <div class="menus d-flex flex-column align-items-center gap-1">
      <div class="start-button d-flex align-items-center active">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
        <p><a routerLink="/about">Start</a></p>
      </div>

      <div class="load-button d-flex align-items-center">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
        <p><a routerLink="/projects">Load</a></p>
      </div>
    </div>

    <div class="trademark-name d-flex flex-column align-items-center">
      <p>Licensed By</p>
      <p>&#64; YNS CORP. 1996</p>
    </div>
  </div>
</div>
